<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Контакты</h1>
                    <p class="intro-text">
                        Отправляйте на email или воспользуйтесь формой внизу.
                    </p>
                    <a href="#contact" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Contact Section -->
<section id="contact">
    <div class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="done">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Сообщение успешно отправлено! Спасибо!
                    </div>
                </div>
                <form method="post" action="contact.php" id="contactform">
                    <div class="form">
                        <input type="text" name="name" placeholder="Ваше имя *">
                        <input type="text" name="email" placeholder="Ваш E-mail адрес *">
                        <textarea name="comment" rows="7" placeholder="Ваше сообщение *"></textarea>
                        <input type="submit" id="submit" class="clearfix btn" value="Отправить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>