<section id="portfolio">
  <div class="gallery">
    <ul>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/1.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/2.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/3.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a class="image" href="portfolio-item.html">
          <img src="../../assets/images/portfolio/4.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/5.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/6.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/7.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/8.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/9.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/10.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/11.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/12.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/13.jpg" alt="">
        </a>
      </li>
      <li class="col-md-3">
        <a href="portfolio-item.html">
          <img src="../../assets/images/portfolio/14.jpg" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>